.app{
    background-color: dimgray;
    width: 900px;
    height: 800px;
    margin: 0 auto;
}


.title{
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.aside{
    display: block;
    width: 150px;
    height: 500px;
    background-color: whitesmoke;
    justify-content: center;
}